/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --primary-color: #E02C6D;
    --primary-text-color: #3A3A3A;

    /* Fonts */
    --ff-poppins: 'Poppins', sans-serif;
    --ff-inter: 'Inter', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;
    --ff-manrope: 'Manrope', sans-serif;

    /* Font Weight */
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

}

body {
    font-family: var(--ff-poppins);
    font-size: 1rem;
    color: var(--primary-text-color);
}

img,
svg {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.container {
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
}

.btn {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: var(--fw-bold);
    position: relative;
    display: inline-block;
    padding: 10px 24px;
}

.primary-btn {
    color: white;
    border-radius: 40px;
    background-color: var(--primary-color);
}

.primary-btn.btn::after {
    content: url('../assets/images/icons/arrow-forward.svg');
    position: absolute;
    left: 145px;
}

.secodary-btn {
    text-align: right;
    color: var(--primary-color);
}

.secodary-btn.btn::after {
    content: url('../assets/images/icons/arrow-forward-2.svg');
    position: absolute;
    right: 0;
    top: 13px;
}

/* ================
Header Section
=================== */
header {
    padding: 50px 0 70px;
    height: min(100vh, 650px);
}

/* Navigation area */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation .logo h1 {
    color: var(--primary-text-color);
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: var(--fw-bold);
    text-transform: capitalize;
}

.main-menu nav ul {
    display: flex;
    gap: 34px;
    align-items: center;
}

.main-menu nav ul li a {
    color: var(--primary-text-color);
    font-weight: var(--fw-semibold);
    line-height: 1.5rem;
}

/* Banner Area */
.banner {
    background-image: url('../assets/images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.banner-content,
.banner-img {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    gap: 16px;
}

.banner-content h1 {
    font-size: 3.25rem;
    line-height: 4.375rem;
    font-weight: var(--fw-bold);
    color: var(--primary-text-color);
}

.banner-content P {
    font-weight: var(--fw-semibold);
}

.banner-content .primary-btn {
    width: 200px;
}

.banner-img {
    position: relative;
}

.banner-img img {
    width: 440px;
    position: relative;
    top: 60px;
    right: -110px;
}

/* ============
Brand Section
=============== */
.brand-logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 0;
}

#brand svg {
    fill: linear-gradient(135deg, rgba(192, 204, 218, 0.10) 0%, rgba(192, 204, 218, 0.60) 50.38%, rgba(192, 204, 218, 0.10) 100%);
}

/* ==================
Collection Section
===================== */
#collection {
    padding: 100px 0;
}

.section-title {
    font-size: 1.75rem;
    line-height: 4.375rem;
    text-align: center;
}

.collection-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px 0 50px;
}

.collection-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.collection-item h3 {
    color: #18191F;
    font-size: 1.75rem;
    font-weight: var(--fw-medium);
    line-height: 40px;
    margin: 16px 0 6px;
}

.collection-item p.price {
    font-family: var(--ff-inter);
    font-size: 1.5rem;
    line-height: 1.5em;
}

.rating {
    display: flex;
}

.rating img {
    width: 12px;
}

.rating p {
    font-size: 14px;
    font-weight: var(--fw-bold);
    letter-spacing: 0.1px;
    margin-left: 8px;
    line-height: 1.375rem;
}

.container-item p {
    font-family: var(--ff-inter);
    font-size: 14px;
    font-weight: var(--fw-bold);
    line-height: 1.25rem;
    color: #787885;
}

#collection a {
    text-align: right;
    display: block;
}

/* ===============
Feature Section
================== */
#feature {
    padding: 100px 0;
}

#feature .container {
    display: flex;
}

.feature-img {
    flex-basis: 35%;
}

.feature-content {
    flex-basis: 65%;
    margin-left: 100px;
}

.feature-content h2 {
    font-size: 35px;
    color: #0A0826;
}

.feature-content p {
    color: #6C6C6C;
    font-weight: var(--fw-bold);
    list-style: 1.75;
    margin: 16px 0;
}

.feature-content a.btn {
    border-radius: 0;
    width: 155px;
}

.feature-content .primary-btn.btn::after {
    left: 107px;
}

/* =============
Footer Section
================ */
footer {
    background-color: #0A0826;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;

}

footer h2 {
    color: white;
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
    line-height: 2rem;
}

footer p {
    color: #D9DBE1;
    font-family: var(--ff-manrope);
    font-size: 14px;
    font-weight: var(--fw-bold);
    line-height: 1.5rem;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}