/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --primary-color: #E02C6D;
    --primary-text-color: #3A3A3A;
    --secondary-text-color: #6C6C6C;

    /* Fonts */
    --ff-poppins: 'Poppins', sans-serif;
    --ff-inter: 'Inter', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;
    --ff-manrope: 'Manrope', sans-serif;

    /* Font Weight */
    --fw-normal: 400;
    --fw-semibold: 600;
    --fw-bold: 700;

}

body {
    font-family: var(--ff-poppins);
    font-size: 1rem;
    color: var(--primary-text-color);
}

img,
svg {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.container {
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
}

.primary-btn {
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: var(--fw-bold);
    padding: 10px 24px;
    border-radius: 40px;
    background-color: var(--primary-color);
    position: relative;
}

.primary-btn::after {
    content: url('../assets/images/icons/arrow-forward.svg');
    position: absolute;
    left: 145px;
}

/* ================
Header Section
=================== */
header {
    padding-top: 50px;
    height: min(100vh, 650px);
}

/* Navigation area */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation .logo h1 {
    color: var(--primary-text-color);
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: var(--fw-bold);
    text-transform: capitalize;
}

.main-menu nav ul {
    display: flex;
    gap: 34px;
    align-items: center;
}

.main-menu nav ul li a {
    color: var(--primary-text-color);
    font-weight: var(--fw-semibold);
    line-height: 1.5rem;
}

/* Banner Area */
.banner {
    background-image: url('../assets/images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.banner-content,
.banner-img {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    gap: 16px;
}

.banner-content h1 {
    font-size: 3.25rem;
    line-height: 4.375rem;
    font-weight: var(--fw-bold);
    color: var(--primary-text-color);
}

.banner-content P {
    font-weight: var(--fw-semibold);
}

.banner-content .primary-btn {
    width: 200px;
}

.banner-img {
    position: relative;
}

.banner-img img {
    width: 440px;
    position: relative;
    top: 60px;
    right: -110px;
}